body {
    background-color: #1C1C1C;
    color: #FACF37;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.button {
    color: #FACF37;
    border: 1px solid #FACF37;
}

/* div {
    border: 1px solid white;
} */